[submodule "external/HoloEverywhere"]
	path = external/HoloEverywhere
	url = https://github.com/Prototik/HoloEverywhere.git
[submodule "external/OnionKit"]
	path = external/OnionKit
	url = https://github.com/guardianproject/OnionKit.git
[submodule "external/CacheWord"]
	path = external/CacheWord
	url = https://github.com/guardianproject/cacheword.git
