[submodule "external/OnionKit"]
	path = external/OnionKit
	url = https://github.com/guardianproject/OnionKit.git
[submodule "external/CacheWord"]
	path = external/CacheWord
	url = https://github.com/guardianproject/cacheword.git
[submodule "external/bho"]
	path = external/bho
	url = https://code.google.com/p/bho/

[submodule "external/securereaderlibrary"]
	path = external/securereaderlibrary
	url = https://github.com/guardianproject/securereaderlibrary.git
[submodule "external/HoloEverywhere"]
	path = external/HoloEverywhere
	url = https://github.com/Prototik/HoloEverywhere.git
